*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
    background-color: #1b1b1b;
    color: #f3f3f3;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-container #tittle{
    font-size: 50px;
    font-family: 'Poppins';
    text-transform: uppercase;

}
.header-container #tittle #other-color{
    color: #e9204f;
}
.header-container nav{
    display: flex;
}
.header-container nav ul{
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.header-container nav ul li a{
    margin: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #1b1b1b;
    color: #f3f3f3;
    transition: 0.5s;

}
.header-container nav ul li a:hover{
    color: #e9204f;
    border-bottom: 1px solid #e9204f;
}
main{
    width: 100%;
    display:flex;
    flex-direction: row;
}
#cover{
    width: 100%;
    display: inline-flex;
}
main .cover-letters{
    width: 50%;
}
main .cover-img{
    width: 40%;
}
main #cover{
    background-color: #e9204f;
    color: #f3f3f3;
    font-size: 30px;
    padding: 30px;
    line-height: 40px;
}
main #cover #name{
    margin-top: 60px;
    font-size: 70px;
    margin-bottom: 10px;
    font-family: 'Poppins';

}
main #cover #speciality{
    margin-bottom: 60px;
}
main #cover #specification{
    font-size: 25px;
}